@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
    font-family: "Lato", sans-serif;
}
.header-title {
    color: #1e212c;
    font-weight: 700;
    font-size: 46px;
    line-height: 1.3;
}
.body-title,
.body-subtitle{
    color: #1e212c;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}
[class*="-text"] {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #424551;
}
